
<div class="well">
<form action="/output">

  <div class="form-group">
    <label for="user-string">Enter a sentence</label>
    <input id="sentence_label" type="text" name="user-string" >
  </div>
  <div class="form-group">
    <label for="find-term">Enter a sequence of letters to find:</label>
    <input type="text" name="find-term" >
  </div>
  <div class="form-group">
  </div>
    <label for="replace-term">Enter a sequence of letters to replace with:</label>
    <input type="text" name="replace-term" >
  </div>
  <button class="btn" type="submit">Check it out!</button>
</form>
</div>
<div class="">
  <img class="img-circle" src="http://1funny.com/wp-content/uploads/2011/12/dog-wearing-boots.jpg" alt="russian dog"/>
</div>
