<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <meta charset="utf-8">
    <title>Find and Replace</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <p>
          It's a thing, man.
        </p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
