<div class="well">

<h1>Your new sentence: </h1>
<p><%= @newString %></p>
</div>
<img class="img-circle" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQZVFhECHiI6FC6knkhCoyA_MeJnQHn039uuAkjU5rHCVaxy3TW" alt="" />
